# Requires Python 3.10

jupyter
pot
seaborn
jaxlib==0.4.23
jax==0.4.23
sbi==0.22.0
tueplots
sbibm
numpy==1.26.3
scipy==1.11.4
matplotlib
dm-haiku<=0.0.11
optax==0.2.0
ott-jax
networkx
IPython
hydra-core
hydra-submitit-launcher
hydra-optuna-sweeper
omegaconf
optuna
pandas
