jupyter
pot
seaborn
jaxlib==0.4.23
jax==0.4.23
sbi==0.22.0
tueplots
sbibm
numpy==1.26.3
scipy==1.11.4
matplotlib
dm-haiku<=0.0.11
optax
ott-jax
networkx
IPython
torchaudio
torchvision
hydra-core
hydra-submitit-launcher
hydra-optuna-sweeper
omegaconf
optuna
pandas
